.negrito{ 
font-size: 20px;
text-align: center;
}
 .banner{
   width: 100%;   
}
.beneficios{ 
    background: #ffffff;
    padding: 20px;
}
.imagemebeneficios{
    width: 50%;
}
.princilpal{ 
   background-color: cornflowerblue;
   padding: 30px;
 }
 .titulocentralizado {

 }
 ul{displayinline}